site-footer
  .ui.large.inverted.vertical.footer.segment
    .ui.large.container
      .ui.stackable.inverted.divided.equal.height.stackable.grid
        <yield/>

  link(rel="stylesheet",type="text/css", href="../lib/semantic-ui/dist/components/divider.min.css")

  style.
    .footer.segment {
      padding: 5em 0em;
    }
