gateway-editor

  telcat-form(name="gateway", data-object="{ entity }", cancel-route="/gateways", save-action="gateway-store-entity",
        modifying!="{ modifying }", loading!="{ loading }", save='save', cancel='cancel')
    telcat-form-header(title="gateway.formTitle")
    telcat-form-fields(number="two")
      telcat-string-field(value-key="name")
    telcat-string-field(value-key="resourceURI")
    telcat-string-field(value-key="contactURI")
    telcat-checkbox-field(value-key="tcpConnection")

    telcat-string-field(value-key="registrarURI")
    telcat-form-divider(title="gateway.credentials")
    telcat-string-field(value-key="user")
    telcat-string-field(value-key="password")

  telact-modal-dialog(name="gatewayError", title="gateway.error", ok-label="form.ok", cancel-label="form.cancel")
    | { @t('error') }

  rest-resource(name="restResource", path="/gateways", timeout="2000")

  script(type='text/coffeescript').
    @mixin 'i18next'
    @mixin 'redux'
    @mixin 'section'
    @mixin 'route'
    @mixin 'crud-editor'

    @newEntity = () ->
      @tags.gateway.cleanErrors()

    @load = (done) ->
      @tags.restResource.load done, @entity.id

    @loadError = (error) ->
      switch error.statusCode
        when 404
          @tags.deviceError.show
            type: 'new-route'
            url: '/home'
          ,
            type: 'new-route'
            url: '/home'
        else
          @tags.deviceError.show
            type: 'new-route'
            url: '/home'
          ,
            type: 'new-route'
            url: '/home'



    @save = (done) ->
      @tags.restResource.save done, @entity

    @saveError = (error) =>
      console.log 'SaveError', error
      @modifying = false
      @tags.deviceForm.showError
        field2: 'Das Feld bla darf nicht leer sein!'
      console.log 'NOW UPDATE!'
      @update()
